---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const {blok} = Astro.props
let columnNum 
if (blok.column_number > 0) {
  columnNum = `md:grid-cols-${blok.column_number}`
} else {
  columnNum = `md:grid-cols-${blok.columns.length}`
}
const fullWidth = blok.full_width ? "w-full" : 'max-contain'
---
<section {...storyblokEditable(blok)} class:list={blok.css}>
  <div class:list={["gap-4 py-8 lg:py-4 px-4 mx-auto xl:gap-12 lg:grid sm:py-16 lg:px-6", columnNum, blok.item_align, fullWidth]}>
    {
      blok.columns?.map((blok: any) => {
        return <StoryblokComponent blok={blok} />
      })
    }
  </div>
</section>