---
import { storyblokEditable } from '@storyblok/astro'
import Button from "@components/utils/Button.astro";

const {blok} = Astro.props

const type = {
  gradAnim: blok.type === 'gradientAnimated' ? true : false,
  gradient: blok.type === 'gradient' ? true : false,
  outline: blok.type === 'outline' ? true : false,
}
const noPadding = blok.noPadding ? '' : 'p-4'
blok.backgroundColor = blok.backgroundColor != '' ? blok.backgroundColor : '#111'
const border = !blok.borderColor || blok.borderColor === '' || undefined ? '' : `border ${blok.borderColor}`
const url = blok.url.url != '' ? blok.url.url : `/${blok.url.cached_url}`
---
<div {...storyblokEditable(blok)} class:list={["mx-auto flex container max-content", blok.align, noPadding]}>
<Button
gradientAnimated={type.gradAnim}
gradient={type.gradient}
outline={type.outline}
text={blok.text}
link={url}
background={blok.backgroundColor}
innerClassNames={[blok.innerCss, border]}
class={["font-light flex w-full", blok.css, blok.size, blok.font]}
/>
</div>