---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
const { blok } = Astro.props
// title
// text
// button
// image
const imageUrl = `url('${blok.image.filename}')`
// console.log(blok)
---


<section
{...storyblokEditable(blok)}
class:list={["bg-center bg-no-repeat bg-zinc-700 bg-blend-multiply", blok.css]}>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
      <h1 class:list={["mb-4 text-4xl font-extrabold tracking-tight leading-none text-golden-400 capitalize font-cg md:text-5xl lg:text-6xl", blok.title_css]}>{blok.title}</h1>
      <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">{blok.text}</p>
      <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
          {
            blok.button?.map((blok: any) => {
              return <StoryblokComponent blok={blok} />
            })
          }
      </div>
  </div>
</section>

<style define:vars={{imageUrl}}>
  section {
    background-image: var(--imageUrl);
    background-size: cover;
  }
</style>
