---
import Layout from '../layouts/Layout.astro';
// Components
import Card from '../components/Card.astro';
import HeroLG from '../components/HeroLG.astro';
import TwoColumn from '../components/sections/TwoColumn.astro';
import HighlightWithGallery from '../components/sections/HighlightWithGallery.astro';

import ImgImport from '../../public/unsplash_f9qZuKoZYoY.png';

import { testLog } from '../lib/Test';

const siteMode = import.meta.env.MODE;
const isSSR = import.meta.env.SSR;
const testEnv = import.meta.env.CMS_REPO_NAME;
// let tLog = testLog();
console.log(isSSR);

/////////////////////////////////
// Content
// Testing image
const testImg = '/unsplash_f9qZuKoZYoY.png';

const testImg2 = {
	src: testImg,
	alt: "Alt image text"
}
// Hero Section
const cardData = {
  headline: "Find Extravagant Living at It’s Finest",
  content: "Madison is our hometown and we believe we can help make a great place even better. We understand the unique needs, wants, trends and problems that arise developing something special in the Madison and surrounding areas. See why developing with us is an easy solution.",
  linkText: "Develop With Us",
  linkURL: "/"
}
const hero = {
	imageUrl: testImg,
	content: cardData,
}
// 2 col section
const sect2col = {
	title: 'About Us',
	content: ['<p>Your first paragraph of text.</p>', '<p>Your second paragraph of text.</p>'],
	image: testImg2,
}
---

<Layout title="Welcome to Astro.">
	<main>
		<HeroLG imageUrl={hero.imageUrl} content={hero.content} />
		<TwoColumn title={sect2col.title} content={sect2col.content} image={sect2col.image} />
		<HighlightWithGallery />
		
		<!-- <p class="instructions">
			Dev:{ siteMode } | SSR:{ isSSR } | EnvVAR:{ testEnv }
		</p>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul> -->
	</main>
</Layout>

<style>
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
