---
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro"
import Layout from '../layouts/Layout.astro';

// Components
import HighlightWithGallery from '../components/sections/HighlightWithGallery.astro';


// import AboutCTA from '@components/sections/AboutCTA.astro';

//////////////////
// Storyblok Content
const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get('cdn/stories/home', {
	version: import.meta.env.DEV ? "draft" : "published",
	resolve_links: 'url'
})
const content = data.story.content;

// console.log(content)
---
<Layout metaTags={content.metatags}>
	<main>
		{
			content.hero?.map((blok: any) => {
				return <StoryblokComponent blok={blok} />
			})
		}
		{
			content.about?.map((blok: any) => {
				return <StoryblokComponent blok={blok} />
			})
		}
		{
			content.services?.map((blok: any) => {
				return <StoryblokComponent blok={blok} />
			})
		}
		{
			content.property?.map((blok: any) => {
				return <StoryblokComponent blok={blok} />
			})
		}
		{
			content.imageGallery?.map((blok: any) => {
				return <StoryblokComponent blok={blok} />
			})
		}
	</main>
</Layout>

<style is:global>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.props:hover .content-container > div {
    opacity: 0;
  }
  .col:hover .content-container > div {
    opacity: 1;
  }
	.props .content-container > div {
    opacity: 1;
    transition: opacity .25s;
  }
	@media screen and (max-width: 1025px) {
		.props:hover .content-container > div {
			opacity: 1;
		}
	}
</style>
